
###
# Facebook tokens, see:
# https://developers.facebook.com/apps/<APP-ID>/messenger/settings/

# The webhook verify token (you generate it, and tell Facebook)
# Make sure the webhook has "messages" subscription
VERIFY_TOKEN = "BLABLABLA"
# page access token (Facebook generates it)
PAGE_ACCESS_TOKEN = 'BLABLABLA'


PUB_PASSWORD=""
SUB_PASSWORD=""
